<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style></style>
    <script></script>
</head>
<body style="margin: 10%;">
    <!-- Header -->
    <h1 style="text-align: center;">UPLOAD CSV FILE</h1><br>

    <form action="{% url 'upload_csv_children' %}" method="post" enctype="multipart/form-data" style="text-align: center;">
        {% csrf_token %}

        <!-- Children file upload form -->
        <h4 style="text-align: center;">Upload Children CSV here:</h4>
        <input type="file" name="csv_file" accept=".csv">

        <br><br>

        <button type="submit">Upload CSV</button>
    </form>
    
</body>
</html>
